@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-image: linear-gradient(black, #008B95);
}

.navbar {
    padding: 0 !important;
}

.navbar-brand {
    margin: 1%;
}

.menu {
    color: white;
    display: none;
}

.collapse {
    position: absolute;
    left: 6%;
}

li {
    margin: 15%;
}

.nav {
    margin-left: 186%;
}

a {
    color: white !important;
    font-size: 18px;
    font-weight: bold;
}

a:hover {
    color: #7AB800 !important;
}

.facebook {
    position: absolute;
    top: 39%;
}

.instagram {
    position: absolute;
    top: 39%;
    margin-left: 10%;
}

#image {
    width: 22%;
    margin-left: 39%;
}

#image:hover {
    content: url(../smi_rgb.png);
}

.carousel-item > .carousel-caption {
    background-color: transparent;
    top: 20%;
    right: 59%;
    color: #00549F;
    width: 17%;
}

.carousel-caption > h2, .carousel-caption > p {
    background-color: transparent;
}

.futuro {
    top: 16% !important;
    width: 25% !important;
}

.btn {
    color: #7AB800 !important;
    border-color: #7AB800 !important;
    border: 1px solid #7AB800 !important;
}

.btn:hover {
    background-color: #00549F;
    border-color: #00549F !important;
    color: black !important;
}

.slide1 {
    margin: 5%;
}

.slides {
    margin-left: 27%;
    width: 40% !important;
    height: 100% !important;
    top: -12% !important;
}

.imageslides {
    margin-left: 21%;
    width: 12%;
}

.imageslide {
    width: 28%;
    position: absolute;
    top: 18%;
    right: 107%;
    height: 62%;
}

.intro {
    width: 55% !important;
    color: #00549F;
    margin-left: 33%;
}

.text1 {
    background: #818A8F;
    width: 30%;
    margin: 10%;
    margin-left: 58%;
    color: white;
    border-radius: 5%;
    box-shadow: 5px 0px 10px 6px #00000036;
    border: 1px solid transparent;
}

.li1 {
    margin: 0;
}

#mappa {
    margin-top: -44%;
    width: 24%;
    margin-left: 7%;
    border-radius: 5%;
    box-shadow: 5px 0px 10px 6px #00000036;
    border: 1px solid transparent;
}

#arrow2 {
    margin-top: -51%;
    margin-left: 37%;
    width: 18%;
}

.what {
    margin: 2%;
    margin-top: -3%;
}

.title {
    margin-bottom: 2%;
    color: #7AB800;
    margin-left: 4%;
}

.service, .fleet {
    color: white;
    width: 17%;
    font-size: 15px;
    margin-left: 5%;
}

.fleet {
    color: white;
    width: 28%;
    font-size: 15px;
}

.service > h5, .cyber > h5,.assistenza > h5, .fleet > h5, .project > h5, .levels > h5 {
    font-weight: bold;
}

.cyber, .project {
    color: white;
    position: absolute;
    margin-left: 32%;
    height: 100%;
    top: 0;
}

.project {
    width: 23%;
    margin-left: 40%;
}

.assistenza {
    color: white;
    position: absolute;
    top: 0;
    margin-left: 65%;
    height: 100%;
    width: 31%;
}

.levels {
    
    color: white;
    width: 27%;
    margin-left: 67%;
    top: 0;
    position: absolute;
    top: 0px;
}

.prevnext1, .prevnext {
    position: absolute !important;
    width: 2% !important;
    margin-right: 1%;
}

footer {
    border-top: 2px solid white;
    width: 93%;
    margin-left: 3%;
}

.row {
    text-align: center;
}

.a1 {
    text-decoration: none;
    font-weight: normal;
}

.link1 > ul > li > .a1 {
    font-weight: bold;
}

#logo {
    width: 10%;
}

.link1 {
    margin-top: -5% !important;
    margin-left: 12%;
}

.link2, .links {
    margin-top: -5% !important;
    margin-left: -5%;
}

.link1 > h5, .link2 > h5, .links > h5 {
    font-weight: bold;
}

.contact {
    margin: 0;
    color: white;
    width: 70%;
    margin-left: 54px;
}

ul > li > .contact > p {
    margin: 0;
}

.buttons {
    margin-top: -9%;
    position: absolute;
    margin-left: 72%;
    height: 15%;
    width: 22%;
}

.button {
    border-radius: 50% !important;
    border: 1px solid;
    background: none;
    height: 40%;
    width: 13%;
}

.button:hover {
    background: #7AB800;
    color: white;
}

@media screen and (max-width:768px) {

    .burger {
        position: absolute;
        margin-left: 92%;
    }
    
    .menu {
        display: block !important;
        color: white !important;
        cursor: pointer;
    }

    .burger > .menu:hover {
        display: block;
    }

    .navbar-brand {
        margin-left: -59%;
    }

    .intro {
        width: 80% !important;
        margin-left: 15%;
    }

    button {
        display: none !important;
    }

    .text1 {
        width: 60%;
        margin-left: 17% !important;
        font-size: 15px;
    }

    #arrow2, #mappa {
        display: none !important;
    }

    .service, .cyber, .assistenza, .fleet, .project, .levels {
        font-size: 13px;
    }
 
    .intro > p {
        width: 122%;
        margin-left: -16%;
    }

    .imageslide {
        display: none;
    }

    .imageslides {
        width: 24%;
        margin-left: 35%;
    }

    .intro > h1, .text1 > h1, .what > h1 {
        font-size: 30px;
        margin-left: 13% !important;
    }

    /* .intro > p {
        display: block !important;
    } */

    /* .carousel-item > .slides > p {
        display: none !important;
    } */

    .text1 > h1 {
        margin-left: 11% !important;
    }

    .text1 > p, .what > h1 {
        margin-left: 4% !important
    }

    .service > p, .cyber > p, .assistenza > p, .fleet > p, .project > p, .levels > p, .buttons {
        display: none;
    }

    .service > h5, .cyber > h5, .assistenza > h5, .fleet > h5, .project > h5, .levels > h5 {
        font-size: 17px;
    }

    .levels > h5 {
        margin-left: 33%;
    }

    #logo {
        width: 20%;
        margin-top: 5% !important;
    }

    .link1 {
        display: none;
    }

    .link2, .links {
        margin-left: 25%;
        width: 30% !important;
        margin-top: -13% !important;
        font-size: 14px;
    }

    .links {
        margin-left: 5%;
    }

    .link2 > h5, .links > h5 {
        font-size: 17px;
    }

    .link2 > ul > li > .a1, .links > ul > li > .a1 {
        font-size: 14px;
    }

    /* .link2 {
        margin-left: 37%;
        margin-top: -29% !important;
    } */

    
}